<div class="admin-container">

    <h1>Fund Transfer System</h1>

    <h2>Admin Dashboard</h2>

    <div class="menu">

        <button routerLink="/admin/users">
            Manage Users
        </button>

        <button routerLink="/admin/beneficiaries">
            Manage Beneficiaries
        </button>

        <button routerLink="/admin/transactions">
            View Transactions
        </button>

        <button (click)="logout()">
            Logout
        </button>

    </div>

</div>