<div class="beneficiary-container">

  <div class="beneficiary-card">

    <h2>Add Beneficiary</h2>

    <form>

      <input
        type="text"
        placeholder="Beneficiary Name">

      <input
        type="text"
        placeholder="Account Number">

      <input
        type="text"
        placeholder="Confirm Account Number">

      <input
        type="text"
        placeholder="IFSC Code">

      <input
        type="text"
        placeholder="Branch Name">

      <button
        type="button"
        (click)="addBeneficiary()">
        Add Beneficiary
      </button>

    </form>

  </div>

</div>