<div class="container">
  <h2>Beneficiary List</h2>

  <table>
    <tr>
      <th>Name</th>
      <th>Account Number</th>
      <th>IFSC</th>
      <th>Branch</th>
    </tr>

    <tr>
      <td>Pooja</td>
      <td>1234567890</td>
      <td>SBIN0001234</td>
      <td>Hyderabad</td>
    </tr>

    <tr>
      <td>Sreeja Reddy</td>
      <td>9876543210</td>
      <td>HDFC0004567</td>
      <td>Adilabad</td>
    </tr>

    <tr>
      <td>Bhavana</td>
      <td>9876543210</td>
      <td>ICICI0004567</td>
      <td>Gajwel</td>
    </tr>

    <tr>
      <td>Spurthi</td>
      <td>9876543210</td>
      <td>HDFC0004567</td>
      <td>Warangal</td>
    </tr>
  </table>

  <button (click)="goToTransfer()">
    Proceed To Transfer
  </button>
</div>