<div class="container">

  <h2>Beneficiary List</h2>

  <table border="1" width="100%">

    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Account Number</th>
        <th>Bank</th>
        <th>IFSC</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let b of beneficiaries">

        <td>{{b.id}}</td>
        <td>{{b.beneficiaryName}}</td>
        <td>{{b.accountNumber}}</td>
        <td>{{b.bankName}}</td>
        <td>{{b.ifscCode}}</td>

        <td>
          <button (click)="deleteBeneficiary(b.id)">
            Delete
          </button>
        </td>

      </tr>

    </tbody>

  </table>

</div>