<div class="transaction-container">

    <button class="back-btn" (click)="goBack()">
        ← Back
    </button>

    <h2>Admin Transaction Management</h2>

    <h3>Total Transactions: {{ filteredTransactions.length }}</h3>


    <!-- Filters -->

    <div class="filter-box">

        <!-- Dynamic User Dropdown -->

        <select [(ngModel)]="selectedUser">

            <option value="">All Users</option>

            <option
                *ngFor="let user of users"
                [value]="user.name">

                {{ user.name }}

            </option>

        </select>

        <!-- Date Filter -->

        <select [(ngModel)]="selectedRange">

            <option value="ALL">All Time</option>

            <option value="7">Last 7 Days</option>

            <option value="30">Last 1 Month</option>

            <option value="90">Last 3 Months</option>

            <option value="180">Last 6 Months</option>

            <option value="365">Last 1 Year</option>

        </select>

        <button
            class="filter-btn"
            (click)="applyFilters()">

            Apply

        </button>

    </div>

    <div
        class="no-data"
        *ngIf="transactions.length === 0">

        <h3>No Transactions Found</h3>

    </div>

    <table
        *ngIf="transactions.length > 0"
        border="1">

        <thead>

            <tr>

                <th>ID</th>

                <th>Date</th>

                <th>Transferred From</th>

                <th>From Account</th>

                <th>Transferred To</th>

                <th>To Account</th>

                <th>Amount</th>

                <th>Transaction Type</th>

                <th>Status</th>

                <th>Updated Balance</th>

                <th>Remarks</th>

            </tr>

        </thead>

        <tbody>

            <tr *ngFor="let txn of filteredTransactions">

                <td>{{ txn.id }}</td>

                <td>{{ txn.transactionDate }}</td>

                <td>{{ txn.senderName }}</td>

                <td>{{ txn.fromAccount }}</td>

                <td>{{ txn.receiverName }}</td>

                <td>{{ txn.toAccount }}</td>

                <td>{{ txn.displayAmount }}</td>

                <td>

                    <span
                        [style.color]="txn.transactionType === 'DEBIT' ? '#d32f2f' : '#2e7d32'"
                        style="font-weight:bold;">

                        {{ txn.transactionType }}

                    </span>

                </td>

                <td>{{ txn.status }}</td>

                <td>₹{{ txn.balance }}</td>

                <td>{{ txn.remarks || '-' }}</td>

            </tr>

        </tbody>

    </table>

</div>