<div class="transfer-container">

  <h2>Fund Transfer</h2>

  <p>Total Beneficiaries : {{ beneficiaries.length }}</p>

  <label>From Account Number</label>
  <input
    type="text"
    [(ngModel)]="transferData.fromAccount"
    readonly>

  <label>Available Balance</label>
  <input
    type="text"
    [(ngModel)]="transferData.availableBalance"
    readonly>

  <label>Select Beneficiary</label>

  <select
    [(ngModel)]="transferData.beneficiaryName"
    name="beneficiary"
    (change)="onBeneficiaryChange()">

    <option value="">Select Beneficiary</option>

    <option
      *ngFor="let beneficiary of beneficiaries"
      [value]="beneficiary.beneficiaryName">

      {{ beneficiary.beneficiaryName }}

    </option>

  </select>

  <label>Account Number</label>
  <input
    type="text"
    [(ngModel)]="transferData.accountNumber"
    readonly>

  <label>IFSC Code</label>
  <input
    type="text"
    [(ngModel)]="transferData.ifscCode"
    readonly>

  <label>Bank Name</label>
  <input
    type="text"
    [(ngModel)]="transferData.bankName"
    readonly>

  <label>Branch</label>
  <input
    type="text"
    [(ngModel)]="transferData.branch"
    readonly>

  <label>Mobile Number</label>
  <input
    type="text"
    [(ngModel)]="transferData.mobileNumber"
    readonly>

  <label>Amount</label>
  <input
    type="number"
    [(ngModel)]="transferData.amount">

  <label>Transfer Date</label>
  <input
    type="date"
    [(ngModel)]="transferData.transferDate">

  <label>Remarks</label>
  <textarea
    rows="3"
    [(ngModel)]="transferData.remarks">
  </textarea>

  <label>Payment Type</label>

  <label>
    <input
      type="radio"
      value="Pay Now"
      name="paymentType"
      [(ngModel)]="transferData.paymentType">
    Pay Now
  </label>

  <label>
    <input
      type="radio"
      value="Pay Later"
      name="paymentType"
      [(ngModel)]="transferData.paymentType">
    Pay Later
  </label>

  <div *ngIf="transferData.paymentType == 'Pay Later'">

    <label>Schedule Date</label>

    <input
      type="date"
      [(ngModel)]="transferData.scheduleDate">

  </div>

  <!-- Transaction PIN -->

  <label>Transaction PIN</label>

  <input
    type="password"
    maxlength="4"
    placeholder="Enter Transaction PIN"
    [(ngModel)]="transferData.transactionPin">

  <div class="buttons">

    <button
      type="button"
      (click)="transfer()">

      Transfer

    </button>

    <button
      type="button"
      (click)="resetForm()">

      Reset

    </button>

  </div>

</div>