<div class="container">

  <h2>Add Beneficiary</h2>

  <input
    type="text"
    placeholder="Beneficiary Name"
    [(ngModel)]="beneficiary.beneficiaryName">

  <input
    type="text"
    placeholder="Account Number"
    [(ngModel)]="beneficiary.accountNumber">

  <input
    type="text"
    placeholder="Bank Name"
    [(ngModel)]="beneficiary.bankName">

  <input
    type="text"
    placeholder="IFSC Code"
    [(ngModel)]="beneficiary.ifscCode">

  <input
    type="text"
    placeholder="Branch"
    [(ngModel)]="beneficiary.branch">

  <input
    type="text"
    placeholder="Mobile Number"
    [(ngModel)]="beneficiary.mobileNumber">

  <button (click)="addBeneficiary()">
    Add Beneficiary
  </button>

</div>